@charset "UTF-8";

body{
	text-align: justify;
	background-color: #E6E6FA;
}
div.item :hover{
	text-decoration: none;
	text-shadow: 2px 2px 8px #4682B4;
	background-color: #B0E0E6;
	transition: 2s;
}
div#login {
	margin-top: 100px;
	
	margin-left: 200px;

}
div#botao {
	margin: 5px;
	padding: 20px;
}
div#mural {
	margin-top: 100px;
	width:700px;
	height:400px;
	overflow: auto;
}
div#enviar_mensagem {
	width: 200px;
	height: 200px;
}
li{
	display: inline-block;
	background-color: #B0C4DE;
	margin: 2px;
	padding: 12px;
}

